<div class="user-dashboard-container">
  <!-- ================= SIDEBAR ================= -->
  <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <button class="toggle-btn" (click)="toggleSidebar()">
      {{ isSidebarCollapsed ? '▶' : '◀' }}
    </button>

    <div class="sidebar-buttons" *ngIf="!isSidebarCollapsed">
      <button class="btn" (click)="goToDashboard()">Dashboard</button>
      <button class="btn" (click)="gotoAttendance()">Attendance</button>
      <button class="btn" (click)="showUserTable()" *ngIf="user?.roleName==='Admin'">User Table</button>
      <button class="btn" (click)="showUserSalary()" *ngIf="user?.roleName==='Admin'">Add Salary</button>
      <button class="btn" (click)="showPayroll()" *ngIf="user?.roleName==='Admin'">Users PayRoll</button>
      <button class="btn" (click)="reviewPayroll()" *ngIf="user?.roleName==='Admin'">Preview PayRoll</button>
      <button class="btn" (click)="showProfile()">Profile</button>
      <button class="btn btn-logout" (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- ================= MAIN CONTENT ================= -->
  <div class="main-content">
    <router-outlet></router-outlet> <!-- <--- child views render here -->
  </div>
</div>